*{
    margin: 0;
    padding: 0;
}
$backroung: linear-gradient(80deg, #3F1A4B 6.68%, #2f2e2e 111.22%);
$white: #fff;

@font-face {
	font-family: 'BlackLivesMater';
	src: url(./asset/fonts/BlackLivesMatter-StatenIsl.otf), format('truetype')
}

body{
    background: $backroung;

    header{
        height: 50px;

        #logo{
            float: left;
            margin-left: 30px;
            span{
                font-family: 'BlackLivesMater';
                color: $white;
                float: left;
                line-height: 50px;
                font-size: 2em;
            }
            figure{
                float: left;
                margin-left: 10px;
                display: flex;
                align-items: center;
                height: 50px;
                img{
                    height: 70%;
                    
                }
            }

        }
        #burger{
            float: right;
            margin-right: 30px;
        }

    }
    main{
        #app{
            .oneFilm{
                &.invisible{
                    display: none;
                }
            }
        }
    }

    


    
}